.section {
    width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        padding: 200px;
}

/* hero */

.hero-title{
    color: var(--white-text-color);

        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;  
        text-align: center;
        letter-spacing: 0.06em;
        
        margin-bottom: 30px;
        margin-top: 0px;
       }
 .button-hero {
color: var(--white-text-color);
background-color: var(--secondary-logo-color);
        
     font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.06em;
 cursor: pointer;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
padding: 10px 32px;
border: 1px solid transparent;
    }

.bgchero {
background-color: rgba(47, 48, 58, 1);
text-align: center;
}

/* features */

.title-feature {

    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;

    margin-top: 0px;
    margin-bottom: 10px;
}


.text {
color: var(--secondary-text-color);


    font-size: 14px;
    line-height: 1.7;
     margin-top: 0px;
}

/* work */

.title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
     
}

/* team */

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.team .text {
color: var(--secondary-text-color);


    font-size: 16px;
    line-height: 1.2;
    
}

   .bgct {
    background-color: rgba(245, 244, 250, 1);
   }