.section {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    padding: 94px;
    /* outline: 2px solid red; */
}

/* filter */

.filter:hover,
.filter:focus {
    color: var(--white-text-color);
    background-color: var(--secondary-logo-color);
}

.filter {
    color: #212121;
    background-color: rgba(245, 244, 250, 1);

    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        cursor: pointer;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            padding: 6px 22px;
            display: inline-block;
            min-width: 130px;
            border: 1px solid transparent;
}



.reset-filter {
padding: 6px 25px;

}

/* work */

.item {
    margin-top: 34px;
    margin-bottom: 0px;
    /* outline: 2px solid red; */
}

.title {
color: var(--primary-text-color);

    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
            margin-top: 20px;
                margin-bottom: 0px;
}


.text {
    color: var(--secondary-text-color);

font-weight: 400;
font-size: 16px;
    line-height: 1.8;
    margin-top: 4px;
    margin-bottom: 0px;
}
.link {
    text-decoration: none;
}

.border-item {
    border: 1px solid rgba(238, 238, 238, 1);
}